@import "~bootstrap/scss/functions";
@import "~@universis/theme/scss/bootstrap/variables";
@import "~bootstrap/scss/variables";
@import "~datatables/media/css/jquery.dataTables.css";

table.dataTable {
  thead {

    .sorting {
      background-image: none;
    }

     .sorting_asc {
       //background-color: theme-color('gray-100');
       background-position: 95% 60%;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAEtJREFUKJFjYBgywAOKMQALFjE/BgaGTCibjYGBYRM+kz0ZGBh2MTAw8DAwMHAxMDBsY2BgCCBGMQzg1IRNMV5NuVAJXIALqmYwAgBBkAlPRCLcLwAAAABJRU5ErkJggg==');
    }
    .sorting_desc {
      //background-color: theme-color('gray-100');
      background-position: 95% 60%;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAArzAAAK8wHvFRX1AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFNJREFUKJHVzTEKgDAQRNGHZfBg2sSTeDMLKwXPYuVJbBKQQEyrH6bZ+cPyWWaElz4kR5cOJ1b0FXnBVRYjjmIUsGGqvX6OmnImYk+JLTkzpPyBGwrtCvfBe56nAAAAAElFTkSuQmCC');
    }
    th {
      color: theme-color('secondary');
      font-size: 0.75rem;
      font-weight: 600;
      padding-top: 16px;
      padding-bottom: 4px;
      border-bottom: none;
      padding-left: 8px;
    }
  }
  tbody {
    tr:first-child {
      td:first-child {
        border-radius: 6px 0;
      }
      td:last-child {
        border-radius: 0 6px;
      }
    }
    tr {
      td:first-child {
        border-left: 1px solid #C2CFD6;
      }
      td:last-child {
        border-right: 1px solid #C2CFD6;
      }
      td {
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: 1px solid #C2CFD6;
      }
      border-radius: 6px 6px;
    }
    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 6px;
      }
      td:last-child {
        border-radius: 0 0 6px 0;
      }
      td {
        border-bottom: 1px solid #C2CFD6;
      }
    }
  }
  td.dataTables_empty {
    border: none !important;
  }
}

table.dataTable.no-footer {
  border-bottom: none;
}

.dataTables_paginate {
  .btn.previous {
    margin-right: 8px;
  }
  .btn.next {
    margin-left: 8px;
  }
}

.dataTables_info, .dataTables_paginate {
  margin-top: $spacer;
}

.dataTables_paginate {
  span {
    .btn {
      -webkit-border-radius: 1.5rem;
      -moz-border-radius: 1.5rem;
      border-radius: 1.5rem;
    }
  }
}

.dataTables_filter {
  display: none;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
  overflow: auto;
}

.dataTables_paginate {
  display: none;
}
.dataTables_wrapper {
   .dataTables_processing {
     background-color: inherit;
     background: none;
     top: -40%;
     color: theme-color('secondary');
   }
}
.text-decoration-line-through {
      text-decoration: line-through !important;
  }
tr.removed .checkbox+label {
    visibility: hidden;
  }
