<div class="col-12">
  <h2 class="text-secondary">Active students search</h2>
</div>
<!--use ngVar to set filter-->
<div class="col-12" [ngVar]="{}" #filter="ngVar">
  <app-advanced-table-search [mergeQueryParams]="true" #advancedSearch [mergeQueryParams]="true" [(filter)]="filter.value" [collapsed]="false" [showMore]="true" [table]="table">
     <advanced-search>
          <app-advanced-search-form [formSrc]="'/assets/tables/table2.search.json'" #search [(filter)]="filter.value"></app-advanced-search-form>
      </advanced-search>
  </app-advanced-table-search>
</div>
<div class="col-12">
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table [autoLoad]=false [configSrc]="'/assets/tables/table3.config.json'"></app-advanced-table>
</div>
